.cart {
    background: rgba(255, 153, 0, 0.3);
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 150px;
    position: sticky;
    top: 0;
}

.cart h3 {
    text-align: center;
}

.cart h6 {
    color: #0E161A;
    font-weight: 400;
    font-size: 21px;
}

.btn-clear {
    background: #FF3030;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 90%;
}

.btn-checkout {
    background: #FF9900;
    border-radius: 4px;
    width: 90%;
}