.header-area {
    background-color: #1C2B35;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.herder-component a {
    margin-left: 20px;
    text-decoration: none;
    color: #FFFFFF;

}

.herder-component a:hover {
    color: orange;
}